[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
tox = "*"
cryptography = "*"
ecdsa = "*"
pyblake2 = "*"
jsonrpcclient = "*"
requests = "*"

[requires]
python_version = "3.9"
